---
layout: default
---

<div class="home">

<!--  <h1>Posts</h1> -->

<!--  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>-->
      <div class="trigger">
        {% for page in site.pages %}
        <h2>
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        </h2>
        {% endfor %}
      </div>
</div>
