<ul>
  <li class="{% if page.url contains '/comparisons/ssh/' %}current{% endif %}">
    <a href="comparisons/ssh/"><span class="hide-on-mobiles">Sea Surface Height (</span>SSH <span class="show-on-mobiles"></span><span class="hide-on-mobiles">)</span></a>
  </li>
  <li class="{% if page.url contains '/comparisons/hf-radar/' %}current{% endif %}">
    <a href="comparisons/hf-radar/"><span class="hide-on-mobiles">HF-Radar</span> Currents<span class="show-on-mobiles"></span></a>
  </li>
  <li class="{% if page.url contains '/comparisons/glider/' %}current{% endif %}">
    <a href="comparisons/glider/"><span class="hide-on-mobiles">Glider/Model</span> Tracks<span class="show-on-mobiles"></span></a>
  </li>
<!--  <li class="{% if page.url contains '/comparisons/' %}current{% endif %}">
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>-->
</ul>
