<ul>
  <li class="{% if page.url contains 'comparisons/timeseries/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/comparisons/timeSeries/"><span class="hide-on-mobiles">Time-series</span><span class="show-on-mobiles">Series</span></a>
  </li>
  <li class="{% if page.url contains 'comparisons/slices/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/comparisons/slices/"><span class="hide-on-mobiles">Horizontal slices</span><span class="show-on-mobiles">Slices</span></a>
  </li>
  <li class="{% if page.url contains 'comparisons/tracks/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/comparisons/tracks/"><span class="hide-on-mobiles">Trajectory Variables</span><span class="show-on-mobiles">Tracks</span></a>
  </li>
</ul>
